@model Seance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeSoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeSoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kine.NomK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Nomp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
