@model IEnumerable<Seance>

@{
    ViewData["Title"] = "Index";
}

<h1>Seances</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<form asp-action="Index" method="get" class="mb-3">
    <input type="text" name="searchString" value="@Context.Request.Query["searchString"]" placeholder="Search by type, patient, kine or hour" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().DateS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().HeureS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TypeSoin)
            </th>
            <th>
                @Html.DisplayName("Kine")
            </th>
            <th>
                @Html.DisplayName("Patient")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ReservedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeSoin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kine.NomK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Nomp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedBy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>